body 
{

    cursor:url(media/cursornana.png), auto;
    
}
    
a:hover 
{ 
    
    cursor:url(media/cursornana.png), auto;
      
}
      
.auto 
{

    cursor:url(media/cursornana.png), auto;
    
}
    
h1 
{
    margin-top: 0px;
    margin-bottom:2%;
    font-size: 40px;
    letter-spacing: -2.4px;
}
  
h2
{
    letter-spacing: -1px;
    font-size: 25px;
}

h3
{
    letter-spacing: -1px;
    font-size: 17px;
}

.center_column 
{
    padding: 2% 7% 2% 7%
    
}
  
p2  
{
    float:left;
}


  
    