body 
{

    
  
    font-family: 'Times New serif';
   
}



html 
{
    cursor:url(media/cursornana.png), auto;
}

a
{
    cursor:url(media/peeledcursornana.png), auto;
}

a:hover 
{ 
    
    
    color:rgb(255, 0, 0)  
}
      

.flex 
{
    display:flex;
    justify-content:left;
}

aside 
{

    margin:5px;
    width:100%;
    
}


a:visited{
    color:rgb(200, 0, 255)
  }

  h1 {
    font-size: 40px;
    letter-spacing: -5.7px;
    margin-bottom: -5px;
    margin-top: 15px;
   
    
  }

  h3 {
    font-size: 20px;
    line-height: 10px;
  }

  h2 
  {
    letter-spacing: -1.5px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: -15px;
  }

  .center_column 
  {
      padding: 2% 7% 2% 7%
      
  }



.wavy-text span 
{
    display:inline-block;
    animation: wave 1.5s ease-in-out infinite;
}


  .wavy-text span:nth-child(1)
{
    animation-delay: 0s;
}
.wavy-text span:nth-child(2)
{
    animation-delay: 0.2s;
}
.wavy-text span:nth-child(3)
{
    animation-delay: 0.4s;
}
.wavy-text span:nth-child(4)
{
    animation-delay: 0.6s;
}
.wavy-text span:nth-child(5)
{
    animation-delay: 0.8s;
}
.wavy-text span:nth-child(6)
{
    animation-delay: 1s;
}
.wavy-text span:nth-child(7)
{
    animation-delay: 1.2s;
}
.wavy-text span:nth-child(8)
{
    animation-delay: 1.4s;
}
.wavy-text span:nth-child(9)
{
    animation-delay: 1.6s;
}
.wavy-text span:nth-child(10)
{
    animation-delay: 1.8s;
}


@keyframes wave
{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}